<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Ignition · sign in</title>
  <link rel="stylesheet" href="/css/ignition.css">
</head>
<body>
  <h1>Ignition · sign in</h1>
  <div class="msg err" th:if="${param.error != null}">that token isn't recognised</div>
  <div class="msg" th:if="${param.out != null}">signed out</div>
  <form method="post" th:action="@{/login}" class="stack">
    <label>Token
      <input name="token" type="password" size="44" autofocus>
    </label>
    <button>Sign in</button>
  </form>
  <p class="muted">Platform admins use <code>IGN_ADMIN_TOKEN</code>; zone admins use their
    zone token (<code>state/zones/&lt;slug&gt;/zone-token</code>).</p>
</body>
</html>
